#main {
	min-width: 600px;
	max-height: 80vh;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.container {
	max-height: 100vh;
}

#navbar, #content, #header, #footer, #blognav, #animationButton {
	border-radius: 25px;
	border-style: solid;
	position: absolute;
}

#navbar {
	left: 20px;
	top: 150px;
	width: 170px;
	z-index: 15;
}

#content {
	left: 220px;
	top: 100px;
	height: 800px;
	width: 680px;
	z-index: 30;
}

#blognav {
	left: 50px;
	top: 820px;
	padding: 5px;
	z-index: 25;
}

#header {
	padding-left: 400px;
	left: 120px;
	height: 120px;
	width: 400px;
	z-index: 10;
}

#footer {
	left: 20px;
	top: 870px;
	width: 800px;
	padding-left: 20px;
	z-index: 5;
}

#disclaimer {
	position: absolute;
	font-size: xx-small;
	left: 200px;
	top: 900px;
	z-index: 40;
}

#animationButton {
	left: 820px;
	top: 910px;
	z-index: 40;
}

#animationButton p, #blognav h4 {
	margin: 5px;
}

#disclaimer {
	position: absolute;
	font-size: xx-small;
	left: 200px;
	top: 900px;
	z-index: 40;
}

button {
	top: 930px;
	position: absolute;
}

.doll {
	display: block;
	min-height: 220px;
	margin: 15px;
	border-radius: 25px;
	border-style: solid;
}

.thumbnail {
	height: 200px;
	width: 200px;
	float: left;
	padding: 10px;
	border-radius: 25px;
	margin-top: 0;
	margin-bottom: 0;
}

.dolldesc {
	float: left;
	list-style-type: none;
	padding-left: 10px;
}



dt {
	margin-left: 1em;
}

dd {
	margin-left: 3em;
}

ol {
	list-style-type: hiragana-iroha;
}

ul {
	list-style-type: hiragana;
}

ol p, ul p {
	margin-top:0px;
	margin-bottom: 0px;
	color: #ddadc5;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: .5em;
	margin-bottom: .5em;
}



#decor img {
	position: absolute;
}

#flower2 {
	height: 150px;
	left: 120px;
	top: 720px;
	z-index: 7;
}

#flower5 {
	height: 120px;
	left: 0px;
	top: 760px;
	z-index: 8;
}

#rose3 {
	height: 200px;
	left: 250px;
	top: -50px;
	z-index: 18;
}

#rose2 {
	height: 200px;
	left: 120px;
	top: 10px;
	z-index: 16;
}

#rose1 {
	height: 130px;
	left: 20px;
	top: 40px;
	z-index: 1;
	transform: rotate(-20deg);
}

#flower1 {
	height: 200px;
	left: 80px;
	top: 380px;
	z-index: 3;
}

#flower3 {
	height: 170px;
	left: 820px;
	top: 810px;
	z-index: 16;
}

#flower4 {
	height: 120px;
	left: 870px;
	top: 60px;
	z-index: 14;
}