#main {
	min-width: 600px;
	max-height: 80vh;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.container {
	max-height: 100vh;
}

.navbar, #content, #header, #footer, #blognav, #rating, #webring {
	border-radius: 25px;
	border-style: solid;
	position: absolute;
}

#navbar1 {
	left: 20px;
	top: 160px;
	width: 170px;
	z-index: 15;
}

#navbar2 {
	padding: 10px;
	left: 930px;
	top: 630px;
	width: fit-content;
	z-index: 15;
	text-align: center;
}

#rating {
	height: 200px;
	width: 220px;
	top: 220px;
	left: 930px;
	z-index: 40;
}

#content {
	left: 220px;
	top: 100px;
	height: 800px;
	width: 680px;
	z-index: 30;
}

#blognav {
	left: 50px;
	top: 820px;
	padding: 5px;
	z-index: 25;
	user-select: none;
}

#header {
	padding-left: 400px;
	left: 120px;
	height: 120px;
	width: 400px;
	z-index: 10;
}

#footer {
	left: 20px;
	top: 870px;
	width: 800px;
	padding-left: 20px;
	z-index: 5;
}

#disclaimer {
	position: absolute;
	font-size: xx-small;
	left: 200px;
	top: 900px;
	z-index: 40;
}

#webring {
	height: 58px;
	width: 290px;
	top: 910px;
	left: 520px;
	z-index: 35;
}

#disclaimer p, #footer p, #ratebox p {
	margin: revert;
}



#blognav h4 {
	margin: 5px;
}

h1,h2,h3,h4,p,li {
	font-family: serif;
}

h1,h2,h3,h4 {
	margin-bottom: 0px;
}

p {
	margin-top: 0px;
}

.date {
	margin-top: 1em;
	margin-bottom: 1em;
}

.stats {
	display: block;
	float: right;
	border-radius: 5px;
	border: 1px solid;
	padding: .5em;
	margin-top: 1em;
	margin-right: 1em;
	margin-bottom: 5px;
	margin-left: 5px;
	text-align: right;
	padding: 5px;
}

.doll {
	display: block;
	min-height: 220px;
	margin: 15px;
	border-radius: 25px;
	border-style: solid;
}

.thumbnail {
	height: 200px;
	width: 200px;
	float: left;
	padding: 10px;
	border-radius: 25px;
	margin-top: 0;
	margin-bottom: 0;
}

.dolldesc {
	float: left;
	list-style-type: none;
	padding-left: 10px;
}

dt {
	margin-left: 1em;
}

dd {
	margin-left: 3em;
}

ol {
	list-style-type: hiragana-iroha;
}

.top10 {
	list-style-type: decimal;
}

ul {
	list-style-type: hiragana;
}

ol p, ul p {
	margin-top:0px;
	margin-bottom: 0px;
	color: #ddadc5;
}

.comment {
	margin-right: 25px;
	margin-left: 25px;
}

.quote {
	width: 80%; 
	margin: auto;
	font-style: italic;
}

.quoteauthor {
	text-align: right; 
	margin-right: 20%;

}

td {
	color: white;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: .5em;
	margin-bottom: .5em;
	border-radius: 7px;
}

.buttonlist {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.buttonlist img {
	border-radius: 0px;
	margin: 0;
}

.gbcphoto {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	margin: auto;
	align-content: center;
	justify-content: space-evenly;
}

.gbcphoto img {
	width: 128px;
	height: 128px;
	object-fit: contain;
	border-radius: 0;
	margin: 1px;
}

#decor img, #worms img {
	pointer-events: none;
	position: absolute;
	border-radius: 0px;
}

#decor #animationButton {
	height: 100px;
	left: 415px;
	top: 10px;
	z-index: 17;
	visibility: visible;
	pointer-events: all;
}

#flower2 {
	height: 150px;
	left: 140px;
	top: 640px;	
	transform: rotate(0deg);
	z-index: 7;
}

#flower5 {
	height: 160px;
	left: 100px;
	top: 730px;
	transform: rotate(30deg);
	z-index: 7;
}

#flower6 {
	height: 130px;
	left: 0px;
	top: 770px;
	transform: rotate(-90deg);
	z-index: 8;
}

#rose3 {
	height: 200px;
	left: 250px;
	top: -50px;
	z-index: 18;
}

#bee {
	height: 100px;
	left: 415px;
	top: 10px;
	z-index: 17;
}

#rose2 {
	height: 200px;
	left: 120px;
	top: 10px;
	z-index: 16;
	pointer-events: none;
}

#rose4 {
	height: 170px;
	left: 15px;
	top: 35px;
	z-index: 1;
	transform: rotate(-20deg);
}

#rose5 {
	height: 200px;
	left: 830px;
	top: 380px;
	z-index: 3;
}

#flower8 {
	height: 170px;
	left: 850px;
	top: 730px;
	z-index: 15;
}

#flower3 {
	height: 170px;
	left: 790px;
	top: 820px;
	z-index: 14;
}

#rose1 {
	height: 120px;
	left: 850px;
	top: 660px;
	transform: rotate(50deg);
	z-index: 10;
}

#flower4 {
	height: 120px;
	left: 880px;
	top: -5px;
	z-index: 12;
}


#flower1 {
	height: 210px;
	left: 820px;
	top: 55px;
	z-index: 13;
}

#sittinVerona {
	height: 210px;
	left: 1080px;
	top: 106px;
	z-index: 44;
}

#hinaNFT {
	position: absolute;
	left: 980px;
	top: 40px;
	z-index: 50;
	filter: url(#NFTshadow);
}

#hinaNFT:hover {
	filter: url(#NFTshadowhover);
}

#hinaNFTinfo {
	display: none;
	position: absolute;
	border-radius: 25px;
	border-style: solid;
	max-width: 300px;
	padding: 5px;
	top: 95px;
	left: 1085px;
	z-index: 45;
}

#decor #decohina {
	pointer-events: all;
	height: 500px;
	left: 1020px;
	top: 415px;
	z-index: 13;
}

#worm1 {
	height: 400px;
	left: 600px;
	top: 550px;
	z-index: 50;
}

#worm5 {
	width: 400px;
	left: 30px;
	top: 720px;
	z-index: 50;
	transform: rotate(50deg);
}

#worm4 {
	width: 450px;
	left: 200px;
	top: 320px;
	z-index: 50;
	transform: rotate(50deg);
}

#worm3 {
	height: 300px;
	left: 820px;
	top: 55px;
	z-index: 50;
}

#worm2 {
	width: 400px;
	left: 10px;
	top: 40px;
	z-index: 50;
	transform: rotate(-30deg);
}

#overlay {
	height: 100vh;
	width: 100%;
	z-index: 1001;
	position: fixed;
	pointer-events: none;
	top: 0;
}

#neocitiesthumb {
	background-color: white;
	opacity: 0%; /*this will be ignored when neocities takes a snapshot*/
	height: 100%;
	width: 100%;
	position: fixed;
}

.hidden {
	position: fixed;
	z-index: 2000;
	opacity: 0%; /*this will be ignored when neocities takes a snapshot*/
	left: 300px;
	top: 100px;
	height: 700px;
	width: auto;
	filter: invert(15%) sepia(91%) saturate(5006%) hue-rotate(320deg) brightness(80%) contrast(108%);
}

#subtitles {
	position: fixed;
	color:yellow;
	-webkit-text-stroke-color: black;
	-webkit-text-stroke-width: 2px;
	font-family: Helvetica, sans-serif;
	font-size: xxx-large;
	z-index: 1020;
	bottom: 7%;
	left: 12.5%;
	width: 75%;
	text-align: center;
	display: none;
}

.iijimodo {
	width: 99vw;
	font-size: 98vw;
	margin-top: 0;
	color:black;
	word-break: keep-all;
	overflow-x: hidden;
}

#easy {
	position: fixed;
	width: 100vw;
	z-index: -1;
	margin-top: calc(50vh - 50vw);
}