/*#
rgb(209, 0, 105)
#d10069
hsl(330, 100%, 41%)
*/

#main {
	background-image: url("../img/decor/houndstooth.gif");
    background-repeat: repeat;
	background-color: rgb(255, 255, 255);
}

h2, h4 {
	color: rgb(209, 0, 105);
}

h1, h3, p, ul, ol, dl, dd, dt, label {
	color: white;
}

.navbar, #content, #header, #footer, #blognav, #rating, #webring, #hinaNFTinfo, #viewcount {
	border-color: rgb(209, 0, 105);
    background: black;
    color: white;
}

.doll {
	background: rgb(223, 168, 200);
	border-color:  rgb(209, 0, 105);
}

ul.dolldesc {
	color: black;
}

body {
	background-color: black;
}

a, a:link, a:visited {
	color: rgb(228, 135, 181);
	text-decoration: none;
	cursor: wait;
}

a:hover {
	color:  rgb(209, 0, 105);
	cursor: wait;
	text-decoration: underline;
}

.disabledLink, .disabledLink:hover {
	color: rgb(39, 39, 39);
}

.stats {
	color: rgb(228, 135, 181);
	border-color:  rgb(209, 0, 105);
	background-color: rgb(39, 39, 39);
}

.stats a, .stats a:link, .stats a:visited {
	color: rgb(235, 195, 215);
}

.date {
	color: rgb(138, 138, 138);
}

#animationButton {
	cursor: not-allowed;
}

pre {
	background: #000;
	color:white;
	display: block;
	border: white;
	border-style: solid;
	border-width: 2px;
	white-space: pre-line;
}

blockquote, cite {
	color:white;
}