#container {
    width: 933px;
    max-width: 95vw;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif;
    border: 1px #CCCCCC solid;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

a, a:visited, a:hover {
    text-decoration: none;
    color: black;
}

#postImage {
    background-color: #CCCCCC;
    max-height: 598px;
    max-width: 598px;
    align-content: center;
    display: flex;
}

#postImage img {
    width: 100%;
    object-fit: contain;
}

#postText {
    flex-basis: 334px;
    min-width: 334px;
    max-height: 598px;
    border-left: 1px #CCCCCC solid;
}

#postHeader {
    border-bottom: 1px #CCCCCC solid;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 16px;
    padding-right: 16px;
    align-items: center;
}

.smAvatar {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    margin-right: 16px;
}
#postHeader img:hover {
    cursor: pointer;
}

.username {
    font-weight: 520;
    font-size: small;
    margin-right: 5px;
}

.username:hover {
    opacity: .5;
    cursor: pointer;
}

.follow {
    color: #0095f6;
    font-size: small;
    font-weight: 520;
    margin-left: 5px;
}

.follow:hover {
    color:#00376b;
    cursor: pointer;
}

#postComments {
    height: calc(100% - 240px);
    overflow-y: scroll;
    padding-left: 16px;
    padding-top: 16px;
    padding-right: 16px;
}

.comment {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: left;
    margin-bottom: 16px;
}

.commentText {
    font-size: small;
}


#interactions {
    margin-top:4px;
    padding-top:6px;
    padding-left: 8px;
    padding-right: 8px;
    border-top: 1px #CCCCCC solid;
    display: flex;
    flex-wrap: nowrap;
}

#interactions img {
    margin: 8px;
}

#postLikes {
    margin-left:16px;
    font-weight: bold;
}
#postDate {
    margin-left: 16px;
    font-size: x-small;
    color: #828282;
    margin-bottom: 16px;
}

#commentBar {
    margin-top:4px;
    border-top: 1px #CCCCCC solid;
    font-size: small;
    text-align: center;
    padding-top: 22px;
    padding-bottom: 22px;
    color: #CCCCCC;
}

.svgButton:hover, .svgButton:focus {
    filter: invert(48%) sepia(3%) saturate(11%) hue-rotate(330deg) brightness(90%) contrast(84%);;
    cursor: pointer;
}

.hashtag {
    color: #00376b;
    cursor: pointer;
}