/*--maximum-purple: #643a71ff;
--amethyst: #8b5fbfff;
--french-mauve: #d183c9ff;
--charm-pink: #e3879eff;
--pink: #fec0ceff;*/


#main {
	width: 80%;
	min-width: 600px;
	max-height: 80vh;
	background: #643a71ff;
	display: block;
	margin-left: auto;
	margin-right: auto; 
}

.container {
	max-height: 100vh;
	display: grid;
	grid-template-columns: repeat(12, minmax(0,1fr));
	grid-gap: 5px;
}

#navbar, #content, #header, #footer {
	border: none;
	background: pink;
	
	display: grid;
}

#navbar, #content {
	grid-row: 2 / 13;
	min-height: 80vh;
}

#navbar {
	grid-column: 1 / 3;
	background: #d183c9ff;
}

#content {
	grid-column: 3 / 13;
	background: #fec0ceff;
}

#footer, #header {
	background: #e3879eff;
	grid-column: 1 / 13;
	min-height: 10vh;
}

#header {
	grid-row: 1;
	padding-left: 20%;
}

#footer {
	grid-row: 13;
}

.doll {
	background: #e3879eff;
	display: block;
	min-height: 220px;
	margin: 15px;
}

.thumbnail {
	height: 200px;
	width: 200px;
	float: left;
	padding: 10px;
}

.dolldesc {
	float: left;
	list-style-type: none;
	padding-left: 10px;
}
