/*
#927b60 dull brown
#f0c5ad dusty pink
#836435 brown
#fbecbe ivory
#ab6969 dull raspberry
*/

body {
    background-color: #fbecbe;
    background-image: url("../img/assets/cafebg.svg");
    background-size: 180px;
    margin: 0;
    display: flex;
    width: 100vw;
}

#board {
    background-color: #927b60;
    background-image: url("../img/assets/cork.gif");
    background-size: 100px;
    background-blend-mode: soft-light;
    border-color: #836435;
    border-style: ridge;
    border-width: thick;
    display: flex;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    width: 85vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10mm;
    filter: drop-shadow(0px 0px 5px rgb(0,0,0,.4));
}

.photo {
    object-fit: cover;
    filter: contrast(1.5) blur(.5px) saturate(.5) brightness(.8);
    border-radius: 2px;
}

#board p, .overlayNote {
    background-color: rgb(171, 105, 105, .7);
    background-image: url("../img/assets/yagasuri.gif");
    background-blend-mode: soft-light;
    max-width: 90%;
    height: 15mm;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    rotate: -1.5deg;
    text-align: center;
    color: rgb(39, 39, 39, .9);
}

a:link, a:visited {
    color: rgb(39, 39, 39, .9);
    text-decoration: none;
}

a:hover {
    filter: drop-shadow(0px 0px 3px #ab6969);
}

.overlayTape {
    top: 70mm;
    position: relative;
}

.note {
    background-color: rgb(236, 228, 217);
    height: 50mm;
    max-width: 50mm;
    padding: 1em;
    rotate: -3deg;
    filter: drop-shadow(5px 5px 5px rgb(0,0,0,.4));
}

.instaxmini, .instaxsquare, .instaxwide {
    background-color: rgb(224, 221, 217);
    filter: drop-shadow(5px 5px 5px rgb(0,0,0,.4));
    margin: 0em;
    border-radius: 2px;
}

.pin {
    top: 2mm;
    position: absolute;
    left: 50%;
    height: 25px;
}

.instaxmini {
    height: 86mm;
    width: 54mm;
}
.instaxmini .photo {
    height: 62mm;
    width: 46mm;
    margin-top: 7mm;
    margin-left: 4mm;
}

.instaxsquare {
    height: 86mm;
    width: 72mm;
}
.instaxsquare .photo {
    height: 62mm;
    width: 62mm;
    margin-top: 7mm;
    margin-left: 5mm;
}

.instaxwide {
    height: 86mm;
    width: 108mm;
}
.instaxwide .photo {
    height: 62mm;
    width: 99mm;
    margin-top: 7mm;
    margin-left: 5mm;
}