#pageTitle {
    display: block;
    background-color: rgb(44, 44, 44);
    color: white;
    margin-left: auto;
    padding: .5em;
    text-align: right;
}

#infoHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}

.headerleft {
    display: block;
}

#dollList {
    float: right;
    display: block;
    min-width: fit-content;
}

.bullets {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}
.tidbit {
    background-color: rgb(0, 0, 0, .3);
    padding: .5em;
    margin: 0.5em;
}

.infoblocks {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#infoHeader img {
    width: 200px;
    display: block;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}

.section {
    display: block;
    background-color: rgb(0, 0, 0, .3);
    padding: 1em;
    margin: .5em;
    height: fit-content;
}

.sectionTitle {
    font-size: larger;
    font-weight: bold;
}
ol {
    list-style-type: decimal-leading-zero;
}

li {
    color:black;
}