#calendarContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}

.dayThumb {
    border:1px solid white;
    border-radius: 3px;
    max-height: 100px;
    max-width: 100px;
    align-content: space-around;
    display: flex;
    margin: 2px;
    filter: grayscale(1);
    opacity: 50%;
}

.dayThumb:hover {
    border: 1px solid white;
    filter: grayscale(0);
    opacity: 100%;
}

.dayThumb a {
    width: 100%;
}

.dayThumb img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: 0;
    border-radius: 0;
    max-width: 100%;
}